header {
  .navbar {
    background: map-get($color, "gradient-gray");

    .btn-nav {
      @include btn-nav;
    }

    .search {
      @include hover-lupa;

      .form-control {
        @include search-input;
      }
      .bi-search {
        margin: -26px 0 0 8px;
      }
    }

    #navbarSupportedContent {
      ul {
        .nav-item {
          .nav-link {
            color: white;
            &:hover {
              color: map-get($color, "gray");
            }
          }
        }
      }
      .nav-link.active,
      .show > .nav-link {
        background-color: map-get($color, "primary");
      }
      .btn-user {
        width: auto;
        @include btn-login;
        @include desplegable-login;
      }
    }
  }
  .subnav {
    background-color: map-get($color, "gradient-black");

    .breadcrumb {
      .breadcrumb-item {
        a {
          color: map-get($color, "gray");
          &:hover {
            color: white;
          }
        }
        .active {
          color: white;
          border-bottom: 1px solid map-get($color, "primary");
        }
      }
    }

    button {
      color: white;
      background-color: map-get($color, "gradient-black");
      .bi-bag-fill {
        &:hover {
          color: map-get($color, "primary");
        }
      }
    }

    .btn-user {
      @include btn-login;
      @include desplegable-login;
    }

    li,
    a {
      @include enlaces;
    }
  }
}
