main {
  @include retornError;
  .gif {
    img {
      max-width: 100%;
    }
  }

  .carousel {
    max-width: 120em;
    transition: all 0.4s ease;
    overflow: hidden;
    border-radius: 5px;
    font-size: 0.8em;

    .btn-carousel,
    .btn-carousel2,
    .btn-carousel3 {
      list-style: none;
      cursor: pointer;
      transition: all 0.4s ease;
    }
    .activo {
      color: rgb(202, 18, 18);
    }

    .carousel-inner {
      .carousel-item {
        .carousel-caption {
          bottom: 0%;
          right: 0%;
          left: 0%;
          text-align: start;
          background: map-get($color, "gradient-texto");
          h5 {
            font-size: 1.1em;
          }
          .btn {
            @include btn;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .juegos {
    background: map-get($color, "gradient-gray");
    border-radius: 15px;
    h1,
    h2 {
      font-size: 30px;
    }
    div {
      .card {
        width: 11.5rem;
        background: none;
        border: none;
        .card-body {
          p {
            color: map-get($color, "gray");
            font-size: 14px;
          }
          .btn-add {
            @include btn;
            width: 100px;
          }
        }
      }
    }
    @include retornError;
  }

  .miModal {
    top: 16vh;
    height: 77vh;
    width: auto;
    z-index: 100;
    background: map-get($color, "gradient-black");
    border: 1px solid map-get($color, "gray");
    border-radius: 12px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .headerModal {
      border-bottom: 1px solid map-get($color, "gray");
    }
    .modalBody {
      .vacio {
        font-size: 1.2em;
      }
    }
    div > div > .btnComprarModal > a {
      text-decoration: none;
      color: white;
    }
  }
}
