main {
  background-image: url(../ASSETS/fondomain.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .gif {
    img {
      max-width: 100%;
    }
  }

  .carousel {
    border-radius: 5px;
    font-size: 0.8em;
    .carousel-inner {
      .carousel-item {
        .carousel-caption {
          bottom: 0%;
          right: 0%;
          left: 0%;
          text-align: start;
          background: map-get($color, "gradient-texto");
          h5 {
            font-size: 1.1em;
          }
          .btn {
            @include btn;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  #carouselExampleControls,
  #carouselExampleControls-2,
  #carouselExampleControls-3 {
    .carousel-control-prev,
    .carousel-control-next {
      background-color: map-get($color, "gradient-black");
      width: 30px;
    }
  }

  .juegos {
    background: map-get($color, "gradient-gray");
    border-radius: 15px;
    h1,
    h2 {
      font-size: 30px;
    }
    div {
      .card {
        width: 12rem;
        background: none;
        border: none;
        .card-body {
          p {
            color: map-get($color, "gray");
            font-size: 14px;
          }
          .btn-add {
            @include btn;
            width: 100px;
          }
        }
      }
    }
  }
  .miModal {
    top: 14vh;
    height: 80vh;
    width: auto;
    z-index: 100;
    background: map-get($color, "gradient-black");
    border: 1px solid map-get($color, "gray");
    border-radius: 12px;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .headerModal {
      border-bottom: 1px solid map-get($color, "gray");
    }
  }
}
