body {
  @media (min-width: 576px) {
    .pantalla-compra {
        .tabla-compra {
          font-size: 1rem;
        }
      }
    header {
      .navbar {
        .search {
          .form-control {
            &:hover,
            &:focus {
              width: 200px;
            }
          }
        }
      }
    }

    main {
      .carousel {
        font-size: 0.9em;
        .carousel-inner {
          .carousel-item {
            .carousel-caption {
              h5 {
                font-size: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}
